{% extends "base.html" %}

{% block header %}
    <title>{{ title }}</title>
    {{ block.super }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ title }}</h1>
        <form action="/ask/" method="post" class="form-horizontal">
            {% csrf_token %}
            {% for hidden in ask_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in ask_form.visible_fields %}
                <div class="form-group">
                    <label class="col-sm-12">{{ field.label }}</label>
                    <div class="col-sm-12">{{ field }}</div>
                    {% if field.errors %}
                        {% for ferr in field.errors %}
                            <div class="alert alert-danger">{{ ferr }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <div class="form-actions text-center">
                <button type="submit" class="btn btn-primary">Publish</button>
            </div>
        </form>
    </div>
    {{ block.super }}
{% endblock %}