{% extends 'base.html' %}
{% block header %}
    {{ block.super }}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
    <div class="container">
        <a href="/question/{{ question.id }}/"><h2>{{ question.title }}</h2></a>
        <div class="row">
            <div class="col-md-4">
                <strong>Date</strong>: {{ question.added_at }}
            </div>
            <div class="col-md-4">
                <strong>Rate</strong>: {{ question.rating }}
            </div>
            <div class="col-md-4">
                <strong>Author</strong>: {{ question.author }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <p>{{ question.text }}</p>
            </div>
        </div>
        <hr>
        <h2>Comments:</h2>
        {% for answer in answers %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="panel-title">{{ answer.author }}</h3>
                        </div>
                        <div class="col-md-offset-4 col-md-3 text-right">{{ answer.added_at }}</div>
                    </div>
                </div>
                <div class="panel-body">{{ answer.text }}</div>
            </div>
        {% endfor %}

        <hr>
        <h2>Add answer</h2>
        <form action="/question/{{ question.id }}/" method="post" class="form-horizontal">
            {% csrf_token %}
            {% for hidden in form_answer.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form_answer.visible_fields %}
                <div class="form-group">
                    <label class="col-sm-12">{{ field.label }}</label>
                    <div class="col-sm-12">{{ field }}</div>
                    {% if field.errors %}
                        {% for ferr in field.errors %}
                            <div class="alert alert-danger">{{ ferr }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <div class="form-actions text-center">
                <button type="submit" class="btn btn-primary">Publish</button>
            </div>
        </form>
    </div>

    {{ block.super }}
{% endblock %}